<script lang="ts">
	import { createEventDispatcher } from "svelte"

	const dispatch = createEventDispatcher()

	export let nouveau: boolean
	export let titre: string | undefined
	export let valeur: string
	export let boutonDisposition: string | undefined
	export let couleur: string

	let inheritedClassList: string = ""
	export { inheritedClassList as class }
</script>

<span class={`${inheritedClassList} ${couleur}`} class:new-character={nouveau} class:button={boutonDisposition} title={titre}>
	{#if boutonDisposition}
		<button class="w-full h-full" on:click={() => dispatch("changer-disposition", boutonDisposition)}>
			{valeur}
		</button>
	{:else}
		{valeur}
	{/if}
</span>
