<script lang="ts">
	import EnveloppeCaseCaractère from "@/composants/client/EnveloppeCaseCaractère.svelte"
	import ToucheCaractère from "@/composants/client/ToucheCaractère.svelte"
	import DispositionGénérale from "@/dispositions/général.ts"
	import DispositionAccentAigu from "@/dispositions/accentAigu.ts"
	import DispositionAccentGrave from "@/dispositions/accentGrave.ts"
	import DispositionAccentCirconflexe from "@/dispositions/accentCirconflexe.ts"
	import DispositionBarreOblique from "@/dispositions/barreOblique.ts"
	import DispositionBrève from "@/dispositions/brève.ts"
	import DispositionCédille from "@/dispositions/cédille.ts"
	import DispositionFonetik from "@/dispositions/fonetik.ts"
	import DispositionGrec from "@/dispositions/grec.ts"
	import DispositionMacron from "@/dispositions/macron.ts"
	import DispositionTilde from "@/dispositions/tilde.ts"
	import DispositionTréma from "@/dispositions/tréma.ts"
	import PositionTouche from "@/énumérations/PositionTouche.ts"

	const tableDispositions = {
		"général": DispositionGénérale,
		"accentAigu": DispositionAccentAigu,
		"accentGrave": DispositionAccentGrave,
		"accentCirconflexe": DispositionAccentCirconflexe,
		"barreOblique": DispositionBarreOblique,
		"brève": DispositionBrève,
		"cédille": DispositionCédille,
		"fonetik": DispositionFonetik,
		"grec": DispositionGrec,
		"macron": DispositionMacron,
		"tilde": DispositionTilde,
		"tréma": DispositionTréma,
	}

	let nomDisposition = "général" as keyof typeof tableDispositions
	$: disposition = tableDispositions[nomDisposition]
	const changerDisposition = (évènement: CustomEvent<keyof typeof tableDispositions>) => nomDisposition = évènement.detail

	let affichageAlternatif = false
	let majuscules = false
	let alternatives = false

	const réinitialiser = () => {
		affichageAlternatif = false
		nomDisposition = "général"
		majuscules = false
		alternatives = false
	}

	const basculerAffichage = (mode: string) => {
		if (mode === "majuscules") {
			majuscules = ! majuscules
		}
		else {
			alternatives = ! alternatives
		}
	}

	let boutonEntrée: HTMLButtonElement
	let boutonSortie: HTMLButtonElement

	const sauterClavierEntrée = () => boutonSortie.focus()
	const sauterClavierSortie = () => boutonEntrée.focus()
</script>

<div class="relative flex flex-col gap-2 -mx-6">
	<button bind:this={boutonEntrée} class="btn bouton-passage -top-6" on:click={sauterClavierEntrée}>Sauter après le clavier</button>

	<div class="keyboard">
		{#each disposition as ligne}
			{#each ligne as touche}
				{#if "action" in touche}
					<button
						class="key p-2 bg-neutral-200/50 cursor-pointer overflow-hidden text-ellipsis"
						class:underline={touche.toucheRémanente}
						style:grid-column-end={touche.colspan ? `span ${touche.colspan}` : null}
						style:grid-row-end={touche.rowspan ? `span ${touche.rowspan}` : null}
						style:aspect-ratio={(touche.colspan ?? touche.rowspan) ? "unset" : undefined}
						disabled={! affichageAlternatif}
						on:click={() => basculerAffichage(touche.action)}
					>
						{touche.valeur}
					</button>
				{:else if "valeur" in touche}
					<div
						class="key p-2 bg-slate-200 opacity-50"
						style:grid-column-end={touche.colspan ? `span ${touche.colspan}` : null}
						style:grid-row-end={touche.rowspan ? `span ${touche.rowspan}` : null}
						style:aspect-ratio={(touche.colspan ?? touche.rowspan) ? "unset" : undefined}
					>
						<div class="w-full h-full flex flex-col justify-center">
							<span class="text-center overflow-hidden text-ellipsis">
								{touche.valeur}
							</span>
						</div>
					</div>
				{:else}
					<div class="key p-0"
						style:grid-column-end={touche.colspan ? `span ${touche.colspan}` : null}
						style:grid-row-end={touche.rowspan ? `span ${touche.rowspan}` : null}
						style:aspect-ratio={(touche.colspan ?? touche.rowspan) ? "unset" : undefined}
					>
						{#if affichageAlternatif}
							<div class="h-full leading-loose flex justify-center text-md sm:text-xl md:text-2xl">
								<ToucheCaractère
									majuscules={majuscules}
									alternatives={alternatives}
									touche={touche}
									on:changer-disposition={changerDisposition} />
							</div>

						{:else}
							<div class="h-full leading-loose grid grid-rows-2 grid-cols-2">
								{#each [PositionTouche.HautGauche, PositionTouche.BasGauche, PositionTouche.HautDroite, PositionTouche.BasDroite] as positionTouche}
									<EnveloppeCaseCaractère
										positionTouche={positionTouche}
										touche={touche}
										on:changer-disposition={changerDisposition} />
								{/each}
							</div>
						{/if}
					</div>
				{/if}
			{/each}
		{/each}
	</div>
	<button bind:this={boutonSortie} class="btn bouton-passage bottom-8" on:click={sauterClavierSortie}>Sauter avant le clavier</button>

	<div class="flex flex-col md:flex-row flex-wrap justify-center md:justify-between gap-x-6 gap-y-2 mx-6 mb-4">
		<div class="grow flex justify-center md:justify-start gap-1">
			<input id="affichageAlternatif" type="checkbox" class="toggle" bind:checked={affichageAlternatif} />
			<label for="affichageAlternatif">
				Mode d’affichage alternatif
			</label>
		</div>
		<div class="grow flex justify-center md:justify-end gap-4">
			<button class="btn btn-sm btn-neutral" on:click={réinitialiser}>
				Réinitialiser
			</button>
		</div>
	</div>
</div>

<style>
	.keyboard {
		@apply grid mx-2 gap-0.5;
		grid-template-columns: repeat(14, 1fr);
		grid-auto-flow: column, row;
		font-size: 1.667vmin;
	}

	@media (min-width: 1280px) {
		.keyboard {
			@apply mx-4 gap-1;
		}
	}

	:global(.key) {
		@apply border border-neutral-500 rounded-md overflow-hidden aspect-square;
	}

	:global(.key button[disabled]) {
		@apply pointer-events-none opacity-50 bg-neutral-200;
	}

	:global(.key > span) {
		@apply h-full flex justify-center items-center;
	}

	.bouton-passage {
		@apply absolute z-10 p-4 -left-full transition-none bg-neutral-100 dark:bg-neutral-800;
		@apply focus-visible:left-1/2 focus-visible:-translate-x-1/2;
	}
</style>
