<script lang="ts">
	let modaleLégende: HTMLDialogElement
	let modaleOuverte = false

	const afficherModale = () => {
		modaleLégende.showModal()
		modaleOuverte = true
	}

	const fermerModale = () => modaleOuverte = false
</script>

<button class="btn" on:click={afficherModale}>Légende</button>
<dialog bind:this={modaleLégende} class="modal" on:cancel={fermerModale} on:close={fermerModale}>
	<div class="modal-box">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" on:click={fermerModale} tabindex={modaleOuverte ? 0 : -1}>✕</button>
		</form>
		<h2 class="text-lg font-bold mb-4">
			Légende
		</h2>
		<ul class="ml-2">
			<li class="mb-1">
				<span class="legend bg-white"></span> Blanc : caractère disponible immédiatement
			</li>
			<li class="mb-1">
				<span class="legend bg-red-300"></span> Rouge : caractère disponible avec la touche de capitale pressée
			</li>
			<li class="mb-1">
				<span class="legend bg-green-300"></span> Vert : caractère disponible avec la touche d’alternative pressée
			</li>
			<li class="mb-1">
				<span class="legend bg-blue-300"></span> Bleu : caractère disponible avec les touches de capitale et d’alternative pressées simultanément
			</li>
			<li class="mb-1">
				<span class="legend bg-white relative new-character"></span> Marqué par un point noir : caractère nouveau par rapport à la disposition Azerty traditionnelle
			</li>
			<li class="mb-1">
				<span class="legend text-xs p-1"><span class="button !m-0 w-full h-full flex justify-center items-center"><button class="w-full h-full" disabled></button></span></span> Bouton imbriqué : touche morte ouvrant des combinaisons
			</li>
			<li class="mb-1">
				<span class="legend bg-neutral-200/50"></span> Gris : touche morte pour combinaison
			</li>
			<li class="mb-1">
				<span class="legend bg-slate-200/50"></span> Bleu pâle : touche système
			</li>
		</ul>
	</div>
	<form method="dialog" class="modal-backdrop">
		<button on:click={fermerModale} tabindex={modaleOuverte ? 0 : -1}>Fermer</button>
	</form>
</dialog>

<style scoped>
	.legend {
		@apply inline-block w-5 h-5 -mb-1 mr-1 border border-neutral-500 rounded-sm overflow-hidden;
	}
</style>
