---
import Explication from "@/composants/Explication.astro"
import Modification from "@/composants/Modification.astro"
import Installation from "@/composants/Installation.astro"
import Désinstallation from "@/composants/Désinstallation.astro"
---

<article class="flex flex-col gap-4 p-4 pt-0">
	<div class="flex flex-col items-center gap-2 self-center">
		<a class="btn btn-neutral" download href="/azerty+-windows.zip">
			Télécharger le pilote d’installation (v3.8)
		</a>
		<small>
			Accompagné du fichier de configuration
		</small>
	</div>

	<Explication />
	<Modification />
	<Installation />
	<Désinstallation />
</article>

<style scoped>
	article {
		max-width: 768px;
		margin: 0 auto;
	}

	article :global(h1) {
		@apply text-[2rem] font-bold mt-2 -mb-2;
	}

	article :global(p) {
		@apply indent-8;
	}
</style>
