---
import Clavier from "@/composants/client/Clavier.svelte"
import Légende from "@/composants/client/Légende.svelte"
---

<div class="flex flex-row flex-wrap justify-center md:justify-between gap-4 mx-6 mt-4">
	<div class="grow md:grow-0 flex flex-col gap-2 text-center md:text-left">
		<h1 class="text-2xl md:text-3xl font-bold">
			Azerty+
		</h1>
		<p>
			Disposition de clavier améliorée pour <cite>Windows</cite>.
		</p>
	</div>
	<div class="grow md:grow-0 flex flex-col md:flex-row justify-center items-center gap-4">
		<Légende client:load />
	</div>

	<Clavier client:only="svelte" />
</div>
