---
---

<h1>
	Désinstallation
</h1>
<ul class="ml-10 list-disc">
	<li>
		ouvrez le menu des paramètres,
		<ul class="ml-10 list-[circle]">
			<li>
				visitez « Heure et langue », onglet « Langue »,
			</li>
			<li>
				dans la section « Langues préférées », cliquez sur « Français (France) » puis sur « Options »,
			</li>
			<li>
				en bas, cliquez sur le clavier à supprimer puis sur « Supprimer »,
			</li>
		</ul>
	</li>
	<li>
		retournez au menu des paramètres,
		<ul class="ml-10 list-[circle]">
			<li>
				visitez « Applications »,
			</li>
			<li>
				sélectionnez le programme et cliquez sur « Désinstaller » puis suivez les instructions.
			</li>
		</ul>
	</li>
</ul>
