---
---

<h1>
	Explication et choix
</h1>
<p>
	Ce clavier démontre qu’il est possible de conserver le clavier Azerty sans modifier son état courant mais en y ajoutant suffisamment de touches pour le rendre beaucoup plus performant et adapté aux besoins de chacun. Il permet de gérer :
</p>
<ul class="ml-10 list-disc">
	<li>
		un accès complet aux lettres du français, du breton, de l’espéranto et de l’anglais et au moins partiel aux autres lettres latines de langues européennes,
	</li>
	<li>
		la ponctuation pour ces mêmes langues en accord avec les conventions typographiques,
	</li>
	<li>
		les notations de l’alphabet phonétique international pour les mêmes langues que précédemment,
	</li>
	<li>
		l’alphabet grec sans diacritiques, y compris les lettres archaïques,
	</li>
	<li>
		et plusieurs symboles mathématiques usuels.
	</li>
</ul>
<p>
	J’ai toutefois fait le choix, contrairement aux concepteurs de Bépo, de limiter l’étendue des caractères supportés pour deux raisons.
</p>
<p>
	La première est personnelle et consiste à me résigner à ce constat : je n’ai pas besoin d’une aussi grande étendue de caractères dont je n’aurai pas usage (par exemple des nombreuses lettres de langues dont je ne sais mot).
</p>
<p>
	La seconde est technique et consiste à admettre que je ne sais pas comment créer des configurations complexes gérant les enchainements de touches mortes, ce qui limite drastiquement les possibilités.
</p>
<p>
	En somme, c’est un choix de minimalisme que j’ai fait puisque je ne prétends aucunement faire concurrence à Bépo mais être une alternative personnelle à mi‐chemin entre la configuration Azerty trop limitée et la configuration Bépo trop compliquée à cet égard.
</p>
<p>
	Les touches mortes combinées avec un caractère admis produiront un unique caractère d’Unicode, mais leur caractère sera ajouté au côté du caractère de la touche pressée si ce dernier n’est pas admis. Si une touche morte est pressée deux fois, elle produit son caractère uniquement.
	Pour les touches mortes de diacritiques, le caractère ajouté à un caractère non admis sera combinant mais une double pression produira le symbole ou la lettre diacritique.
</p>
