---
---

<h1>
	Installation
</h1>
<ul class="ml-10 list-disc">
	<li>
		si le clavier avait déjà installé dans une version précédente, il est recommandable de le désinstaller au préalable (voir section ci‐dessous),
	</li>
	<li>
		exécutez le fichier d’installation <samp>setup.exe</samp> et suivez les instructions,
	</li>
	<li>
		ouvrez le menu des paramètres,
		<ul class="ml-10 list-[circle]">
			<li>
				visitez « Heure et langue », onglet « Langue »,
			</li>
			<li>
				dans la section « Langues préférées », cliquez sur « Français (France) » puis sur « Options »,
			</li>
			<li>
				en bas, cliquez sur « Ajouter un clavier » puis choisissez le clavier installé,
			</li>
		</ul>
	</li>
	<li>
		redémarrez l’appareil,
	</li>
	<li>
		dans les icônes de la barre des tâches de <cite>Windows</cite>, cliquez sur la barre des langues puis sélectionnez le mode d’entrée voulu,
	</li>
	<li>
		si vous ne trouvez pas la barre des langues, ouvrez le menu des paramètres,
		<ul class="ml-10 list-[circle]">
			<li>
				visitez « Périphériques », onglet « Saisie »,
			</li>
			<li>
				en bas, cliquez sur « Paramètres avancés de clavier »,
			</li>
			<li>
				puis changez la « méthode d’entrée par défaut » en sélectionnant celui voulu.
			</li>
		</ul>
	</li>
</ul>
