---
---

<h1>
	Modification
</h1>
<p>
	Le clavier a simplement été créé à l’aide du <cite>Microsoft Keyboard Layout Creator</cite>, un outil pour <cite>Windows</cite> prévu à cet effet. Vous pouvez vous‐même modifier cette disposition de clavier (ou en créer une nouvelle) en suivant ces étapes :
</p>
<ul class="ml-10 list-disc">
	<li>
		installez <cite>.NET 3.5</cite>,
	</li>
	<li>
		installez <cite>Microsoft Keyboard Layout Creator</cite>,
	</li>
	<li>
		créez la disposition, possiblement en partant d’une disposition préexistante (vous pouvez télécharger celle‐ci et la modifier pour vous !),
	</li>
	<li>
		faites valider et déboguez‐le jusqu’à sa validation puis essayez‐le pour être certain qu’il réponde à vos attentes,
	</li>
	<li>
		puis faites compiler le clavier.
	</li>
</ul>
<p>
	Malheureusement, l’outil <cite>Microsoft Keyboard Layout Creator</cite> reste assez limité et ne permet pas de créer des configurations complexes gérant les enchainement de touches mortes. Pour pallier ce problème, la seule solution que je connaisse est de modifier la configuration du pilote manuellement.
</p>
