---
import "@/style.css"

import Disposition from "@/composants/Disposition.astro"
import DescriptionProjet from "@/composants/DescriptionProjet.astro"
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, shrink-to-fit=no" />
		<title>
			Disposition Azerty+
		</title>
	</head>
	<body>
		<main id="app">
			<noscript class="px-4 pt-8 flex justify-center items-center">
				<p class="text-2xl text-center">
					La démonstration interactive ne peut pas fonctionner sans JavaScript. Merci de le réactiver !
				</p>
			</noscript>

			<Disposition />
			<DescriptionProjet />
		</main>
	</body>
</html>
