@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
		min-width: 320px;
		min-height: 100vh;
	color: #1f1f1f;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
}

cite {
	font-style: italic;
}

.new-character::after {
	content: "";
	@apply block absolute w-1 h-1 top-1 right-1 bg-neutral-900 rounded-full;
}

.button {
	@apply m-0.5 lg:m-1 border border-neutral-300 rounded-lg shadow-[inset_0_0_4px_0_rgb(0_0_0_/_0.05)] shadow-neutral-400 active:shadow-transparent transition-shadow;
}
